.About {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 10em;
    padding-bottom: 10em;
    margin-bottom: 5em;
    padding-right: 5em;
    padding-left: 2em;
    text-align: left;
  }
.Description{
    width: 200%;
}

