.Experience {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    padding-top: 5em;
    text-decoration: none;
    flex-direction: column;
    text-align:left;

}
#content {
  display: flex;
  flex-direction: column;
}
.chrono {
  margin-bottom:5%;
  margin-left:5%;
  margin-right:5%;
  pointer-events:none;
}
.rightContent {
  margin-right: 5%;
}
