.App {
  text-align: center;
  background-color: #F6F39D;
}

hr {
  background-color: #F88080;
  height: 5px;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-size: 750%;
  font-weight: 300%;
  color: #384D65;
  line-height:115%;
  margin: 0;
}
h2 {
  font-size: 300%;
  font-weight: 300%;
  color: #384D65;
  line-height:115%;
}
h3 {
  font-size: 225%;
  font-weight: 350%;
  color: #F88080;
}
h4 {
  font-size: 140%;
  font-weight: 300%;
  color: #F88080;
  line-height:0%;
}
h5 {
  font-size: 500%;
  font-weight: 300%;
  margin: 0;
  color: #384D65;
  line-height:115%;
}
h6 {
  font-size: 300%;
  font-weight: 100%;
  margin: 0;
  color: #384D65;
}
h7 {
  font-size: 150%;
  font-weight: 100%;
  margin: 0;
  color: #384D65;
  line-height:115%;
}
img {
  Object-fit: cover;
}
